.container-alert {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  
  img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
  }

  h3 {
    text-align: center;
    color: var(--gray-900);
    font-size: 1.5rem;
  }

  p {
    text-align: center;
    color: var(--gray-700);
  }
}

.buttons-alert {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;

  button {
    & + button {
      margin-top: 0;
    }
  }
}