.container-points {
  min-width: 250px;
  max-width: 250px;
  max-height: 400px;
  position: absolute;
  z-index: 9999;
  top: 100px;
  left: 20px;
  background: var(--white);
  border-radius: 0.5rem;
  overflow-y: auto;

  > h3 {
    background: var(--gray-800);
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  > h4 {
    color: var(--gray-800);
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0.5rem;
    text-align: center;
  }

  ul {
    list-style: none;

    li {
      padding: 0.8rem;
      line-height: 0.8rem;
      cursor: pointer;
      transition: background .2s;

      h3 {
        font-size: 0.7rem;
        font-weight: 400;
        color: var(--gray-700);

        img {
          width: 9px;
          margin-right: 4px;
        }
      }

      p {
        font-size: 0.6rem;
        font-weight: 400;
        color: var(--gray-300);
      }

      & + li {
        border-top: 1px solid var(--gray-100);
      }

      &:hover, &.point-selected {
        background: rgba($color: #000000, $alpha: .1);
      }
    }
  }
}